.compare__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 75px;
}

.compare__title {
  color: #828286;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin: 0;
}

.compare__text {
  color: #0D5ADC;
  font-weight: 400;
  margin: 0;
}

.compare__button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0 0 0 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.compare__button_active {
  border-bottom: 1px solid #0D5ADC;
}

.compare__table {
  flex: 1 0 100%;
  display: flex;
  align-items: baseline;
  padding: 20px 0 0;
}

.compare__differences {
  flex: 0 1 50%;
}

.compare__products {
  flex: 1 100%;
  display: flex;
  justify-content: space-around;
}

.compare__image {
  max-width: 120px;
  height: 120px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}