.popup {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 420px;
  max-height: 330px;
  padding: 35px 45px 0 20px;
  overflow: auto;
  box-shadow: 0px 16px 32px rgba(35, 39, 51, 0.1);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #fff;
  color: #c1c1c1;
}

.popup__input {
  display: block;
  margin: 0;
  margin-bottom: 18px;
  padding: 10px 16px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.popup__product {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.popup__image {
  flex: 0 50px;
  max-height: 50px;
  display: block;
  object-fit: contain;
  margin: 0 7px;
}

.popup__button {
  border: none;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: url(../logo/arrows-replace.svg) center no-repeat;
}

.popup__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}